* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #f3deba;
  overflow: auto;
}

header {
  width: 100%;
  padding: 2.5rem;
  background-color: #a9907e;
  color: #f3deba;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 > svg {
  width: 3rem;
}

.add-button {
  border: none;
  background-color: #abc4aa;
  color: #675d50;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background-color: #675d50;
  color: #f3deba;
}

.add-button > svg {
  width: 2rem;
}

.books {
  padding: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-color: white;
  padding: 2rem;
  position: relative;
  color: #675d50;
  border-radius: 0.5rem;
  text-wrap: wrap;
  word-break: break-all;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.author {
  font-size: 1.5rem;
}

.pages {
  font-size: 1.2rem;
}

.read {
  width: 100%;
}

.read-button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #abc4aa;
  border: none;
  color: #675d50;
  font-weight: bold;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 2rem;
  border: none;
  color: red;
  cursor: pointer;
}

.icon {
  width: 100%;
  filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(4deg)
    brightness(95%) contrast(118%);
}

.content {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 3;
  display: none;
}

.modal {
  width: 40%;
  height: 60%;
  background-color: white;
  color: #675d50;
  position: fixed;
  left: 50vw;
  top: 50vh;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: inherit;
}
